[Desktop Entry]
Version=1.0
Name=HP Calc
Comment=x11-calc HP simulators
Exec=x11-calc-launcher.sh
Type=Application
Icon=com.github.mike632t.x11-calc
Categories=Application;
